<template>
  <div id="app">
    <Weather/>
    <div class="clock">
      <p class="time">{{ current_time }}</p>
      <p class="date">{{ current_date }}</p>
    </div>
    <News/>
  </div>
</template>

<script>
import Weather from './components/Weather.vue'
import News from './components/News.vue'

export default {
  name: 'App',
  components: {
    Weather, News
  },
  data: function () {
    return {
      current_time: '',
      current_date: '',
    }
  },
  methods: {
    clock: function () {
      this.current_time = this.$moment().format("HH:mm:ss")
      this.current_date = this.$moment().format("DD/MM/YYYY")
    },
  },
  mounted: function() {
    var self = this
    this.clock()
    setInterval(() => {
      self.clock()
    }, 1000);
  },
}
</script>

<style>
*{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
body{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  background: #000;
  color: #fff;
}
.clock{
  position: fixed;
  top: 50%;
  left: 0px;
  width: 100%;
  margin-top: -150px;
  text-align: center;
}
.clock .time{
  font-size: 150px;
}
.clock .date{
  font-size: 50px;
}
</style>
