<template>
  <div class="news" v-html="news[current].description"></div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'News',
  data: function () {
    return {
      news: [],
      current: 0
    }
  },
  methods: {
    get_weather: function(){
      var self = this
      try {
        axios.get('http://localhost:8181').then((response) => {          
          console.log(response);
          self.news = response.data
          self.current = 0;
        }).catch(error => {
            console.log(error)
        }); 
      } catch (error) {
        console.log(error)
      }
    },
    
  },
  beforeCreate() {
    var self = this
      try {
        axios.get('http://localhost:8181').then((response) => {          
          console.log(response);
          self.news = response.data
          self.current = 0;
        }).catch(error => {
            console.log(error)
        }); 
      } catch (error) {
        console.log(error)
      }
  },
  mounted() {
    var self = this
    setInterval(() => {
      self.get_weather()
    }, 90000);
    setInterval(() => {
      self.current++
      if(self.current > self.news.length) self.current = 0
    }, 10000);
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.news{
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10% 15px;
  font-size: 25px;
  line-height: 1.5;
}
.news img{
  display: none;
}
</style>
