<template>
  <div class="weather">
    <img class="weather-icon" style="height: 70px;" v-bind:src="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" />
    <div class="weather-info">
      <p><img src="http://openweathermap.org/images/flags/vn.png"> {{weather.name}}</p>
      <p>{{weather.main.temp}} °С  - {{weather.weather[0].description}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Weather',
  data: function () {
    return {
      weather: {}
    }
  },
  methods: {
    get_weather: function(){
      var selt = this
      try {       
        this.$http.get('https://api.openweathermap.org/data/2.5/weather?id=1582436&units=metric&lang=vi&appid=a99c1803049982126b89070de5006930').then((response) => {
          selt.weather = response.data
        }).catch(error => {
            console.log(error)
        }); 
      } catch (error) {
        console.log(error)
      }
    },
    
  }
,
mounted() {
  var self = this
  this.get_weather()
  setInterval(() => {
    self.get_weather()
  }, 900000);
},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.weather{
  position: fixed;
  top: 0px;
  left: 0px;
  white-space: nowrap;
  display: flex;
}
.weather .weather-info p{
  margin-top: 5px;
}
</style>
